<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <style>
        * {
            font-family: "Pretendard GOV", sans-serif !important;
        }
    </style>
</head>
<body>
    <div class="d-flex flex-column">
        <div class="d-flex pt-auto align-items-end justify-content-center" style="height: 140px">
            <h1 class="text-center" onclick="window.location = '/';">PLAN THEME PARK</h1>
        </div>
        <div class="d-flex flex-row mx-auto">
            <div id="container" style="width: 830px" th:insert="~{${screen} :: ${screen_fragment}}">
            </div>
            <div class="d-flex flex-column" id="menu-bar" style="width: 280px">
                <div class="d-flex flex-column mb-1 mx-1 p-3 pb-2 border rounded">
                    <button id="btnLogin" onclick="window.location = '/login';" type="button" class="btn btn-primary align-self-stretch" style="font-size: 1.4em;" th:if="${session.user_id == null}">
                        로그인
                    </button>
                    <div class="d-flex flex-row align-self-stretch align-items-center" th:if="${session.user_id != null}">
                        <div class="flex-grow-1" th:text="${session.user_nm}">
                            관리자님
                        </div>
                        <div class="btn-group" role="group">
                            <button id="btnUserModeCustomer" onclick="window.location.href = '/change_user_mode?user_mode=customer';" th:classappend="${session.user_mode} == 'customer' ? ' active' : ''" type="button" class="btn btn-sm btn-secondary px-1">손님</button>
                            <button id="btnUserModeBoss" onclick="window.location.href = '/change_user_mode?user_mode=boss';" th:classappend="${session.user_mode} == 'boss' ? ' active' : ''"  type="button"            class="btn btn-sm btn-secondary px-1">사장님</button>
                            <button id="btnUserModeAdmin" onclick="window.location.href = '/change_user_mode?user_mode=admin';" th:classappend="${session.user_mode} == 'admin' ? ' active' : ''"  type="button"         class="btn btn-sm btn-secondary px-1">관리자</button>
                        </div>
                    </div>
                    <div class="d-flex flex-row mt-2 mx-auto" style="font-size: 0.7em" th:if="${session.user_id == null}">
                        <span>아이디 찾기</span>
                        <span class="mx-2">|</span>
                        <span>비밀번호 찾기</span>
                        <span class="mx-2">|</span>
                        <span>회원가입</span>
                    </div>
                    <div class="d-flex flex-row mt-2 mx-auto" th:if="${session.user_id != null}">
                        <span>로그아웃</span>
                    </div>
                </div>
                <div th:insert="~{${menu_buttons} :: ${menu_buttons_fragment}}">
                </div>
                <div class="d-flex m-1 p-3 border rounded align-items-center justify-content-center" style="height: 400px;">
                    <span>광고</span>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js" ></script>
    <script src="/static/js/jquery-3.7.1.min.js" ></script>
    <script src="/static/js/common_functions.js" ></script>
</body>
</html>