<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <style>
      * {
          font-family: "Pretendard GOV", sans-serif !important;
      }
    </style>
  </head>
  <body style="width: 830px" >
    <div th:fragment="join_deal">
      <div class="d-flex flex-column m-1 px-3 py-3 border rounded">
        <h5 class="fw-bold">제안서 작성</h5>
        <div class="d-flex flex-row column-gap-2">
          <div class="flex-fill">
            <h7 class="fw-bold mb-2">요청내용</h7>
            <div class="d-flex flex-column" th:if="${selected_customer_deal != null}">
              <span th:text="${'희망일자: ' + selected_customer_deal['HOPE_DT']}">희망일자: 20240101</span>
              <span th:text="${'예상인원: ' + selected_customer_deal['HOPE_PEOPLE_CNT']}"></span>
              <span th:text="${'선호테마: ' + selected_customer_deal['HOPE_THEME_NM_LIST']}"></span>
              <span th:if="${selected_customer_deal['HOPE_BOSS_ID'] == null}">매칭구분: 자동매칭</span>
              <span th:if="${selected_customer_deal['HOPE_BOSS_ID'] != null}">매칭구분: 매장지정</span>
              <hr class="my-2"/>
              <div class="d-flex" th:text="${selected_customer_deal['HOPE_OTHER_CN']}"></div>
            </div>
          </div>
          <div class="d-flex flex-fill flex-column">
            <h7 class="fw-bold mb-2">제안서 내용</h7>
            <label>제안내용</label>
            <textarea class="form-control flex-grow-1" style="height: 200px;" placeholder="[선택] 세부적으로 제안할 내용을 입력해주세요."
                      id="FORM_DEAL_CN" th:text="${selected_customer_deal['BOSS_DEAL_CN']}"></textarea>
            <button type="submit" class="btn btn-sm btn-primary mt-2 ms-auto align-self-end" onclick="addBossDeal(this, event)" th:if="${selected_customer_deal['DEAL_SENT_YN'] == 'N'}">
              제안하기
            </button>
            <button type="submit" class="btn btn-sm btn-danger mt-2 ms-auto align-self-end" onclick="removeBossDeal(this, event)" th:if="${selected_customer_deal['DEAL_SENT_YN'] == 'Y' && selected_customer_deal['OPEN_YN'] == 'Y'}">
              취소하기
            </button>
            <h7 class="fw-bold mb-2">매장사진/소개</h7>
            <div class="p-2 border flex-grow-1 mb-2" style="white-space: pre;" th:text="${boss_desc}"></div>
            <div class="mb-2" th:each="boss_image: ${boss_image_list}" th:IMAGE_FILE_NAME="${boss_image}">
              <img style="width: 200px;" th:src="${'/static/upload/' + boss_image}"/>
            </div>
          </div>
        </div>
      </div>
      <script>

        function addBossDeal(dom, e) {
          const params = new URLSearchParams(window.location.search);
          e.stopPropagation();

          $post('/api/boss/add_boss_deal?CUSTOMER_DEAL_ID=' + params.get('CUSTOMER_DEAL_ID'),
            { 'BOSS_DEAL_CN' : document.getElementById('FORM_DEAL_CN').value
            },
            function () {
              refresh();
            }
          );
        }

        function removeBossDeal(dom, e) {
          const params = new URLSearchParams(window.location.search);
          e.stopPropagation();

          $post('/api/boss/remove_boss_deal?BOSS_DEAL_ID=' + params.get('BOSS_DEAL_ID'),
            null,
            function () {
              refresh();
            }
          );
        }
      </script>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js" ></script>
    <script src="/static/js/jquery-3.7.1.min.js" ></script>
  </body>
</html>
