<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <style>
      * {
          font-family: "Pretendard GOV", sans-serif !important;
      }
    </style>
  </head>
  <body>
    <div th:fragment="default">
      <div class="d-flex flex-column m-1 px-3 py-3 border rounded" style="height: 200px;">
        <span class="fw-bold">공지사항</span>
        <span class="text-secondary mt-2" style="font-size: 0.75em;">공지사항이 없습니다.</span>
      </div>
      <div class="d-flex flex-column m-1 px-3 py-3 border rounded" style="height: 200px;">
        <span class="fw-bold">추천코스</span>

        <div class="d-flex flex-row border px-3 py-1 mt-2" th:each="popular_course: ${popular_courses}"
             th:COURSE_ID="${popular_course['COURSE_ID']}" th:text="${popular_course['COURSE_NM']}"
             onclick="selectCourse(this, event)">
        </div>
      </div>
      <div class="d-flex flex-column m-1 px-3 py-3 border rounded" style="height: 200px;">
        <span class="fw-bold">베스트 리뷰</span>
        <span class="text-secondary mt-2" style="font-size: 0.75em;">리뷰가 없습니다.</span>
      </div>
      <script>
        function selectCourse(dom, e) {
          e.stopPropagation();
          window.location = '/open_deal?COURSE_ID=' + dom.getAttribute('COURSE_ID');
        }
      </script>
    </div>
    <div th:fragment="menu_buttons_main">
      <div class="d-flex m-1 p-3 border rounded align-items-center justify-content-center" style="height: 600px;">
        <span>광고</span>
      </div>
    </div>
    <div th:fragment="alarm">
      <div class="d-flex m-1 px-3 py-3 border rounded" style="height: 200px;">
        <span class="fw-bold">알람내역</span>
      </div>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js" ></script>
    <script src="/static/js/jquery-3.7.1.min.js" ></script>
  </body>
</html>
